/* @font-face { 
    font-family: "MullerLight";
    src: url("fonts/MullerLight.eot");
    src: url("fonts/MullerLight.eot?#iefix")format("embedded-opentype"),
    url("fonts/MullerLight.woff") format("woff"),
    url("fonts/MullerLight.ttf") format("truetype");
    font-style: normal;
    font-weight: 300;
}
:root{
    
} */
body, html{
}
.modelview-wrapper{
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #006e3b88;
}
.model-style{
    width: 100%;
    height: 90%;
}
.button-ar{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.808);
    box-shadow: 0 0 5px black;
    color: black;
}